<!--
============================================
; Title: footer.ejs
; Author: John Davidson
; Data: 06/18/2023
; Description: The footer of Pets-R-Us weekly assignments.
============================================
-->

    <!-- Footer Content for the html.-->
    <footer class="">
      <p>&copy; 2023 Davidson, LLC | Site by John Davidson</p>
    </footer>
  </body>
</html>
