<!--
============================================
; Title: header.ejs
; Author: John Davidson
; Data: 06/18/2023
; Description: The header for Pets-R-Us weekly assignments.
============================================
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pets-R-Us</title>

    <!-- The CSS Styling -->
    <link type="text/css" rel="stylesheet" href="/styles/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- The navigation tabs. -->
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/grooming">Grooming</a></li>
          <li><a href="/boarding">Boarding</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/register">Registration</a></li>
          <li><a href="/customer-list">Customers</a></li>
        </ul>
        </ul>
      </nav>
    </header>


